#CHANGE FILENAME TO ".env" AFTER ALTERING TO FIT YOUR SETUP

# === LLM CLIENT CONFIG ===
LLM_SERVER=http://localhost:8080

# === MODELS & EMBEDDINGS ===
EMBEDDING_MODEL=all-MiniLM-L6-v2
HF_HOME=/path/to/huggingface
