#CHANGE FILENAME TO ".env" AFTER ALTERING TO FIT YOUR SETUP

# === EMBEDDING MODEL USED BY BOTH SIDES ===
EMBEDDING_MODEL=all-MiniLM-L6-v2
VECTOR_SIZE=384

# === SHARED MODEL CACHE LOCATION ===
# note: should be a shared network folder if machine running LLM differs from machine running databases
HF_HOME=/modeller/huggingface

# === COMMON CHAT SETTINGS ===
CHAT_BUFFER_LIMIT=6
